.body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.main1 {
    background: url("/images/bg_img.jpg");
    width: 100%;
}

.inner {
    width: 1000px;
    margin: auto;
    /* border: 1px solid red; */
}

.logo {
    float: left;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 1%;
}

.c_info {
    float: right;
    margin-top: 1%;
    margin-bottom: 1%;
    text-align: right;
    margin-right: 1%;
    font-size: 18px;
    line-height: 30px;
}

.clear {
    clear: both;
}

.navbar {
    background: url("/images/menu_rept.jpg");
    width: 1000px;
    margin: auto;
    border-radius: 10px;
}

.menu {
    float: left;
    margin: 15px;
    font-size: 14px;
    font-weight: bold;
    color: #003c66;
    transition: 1s;
}
.menu:hover{
    float: left;
    margin: 5px 15px;
    font-size: 14px;
    font-weight: bold;
    color: #003c66;
}

.main2 {
    width: 100%;
    background: white;
}

.heading {
    margin-left: 10px;
}

.why_info {
    float: left;
    width: 33%;
    text-align: justify;
    font-size: small;
}

.why_info2 {
    float: left;
    width: 33%;
    text-align: justify;
    font-size: small;
    border-right: 3px solid #003c66;
}

.why_img {
    float: left;
    width: 20%;
    margin-left: 2%;
    margin-bottom: 15%;
}

.why_para {
    float: left;
    width: 70%;
    margin: 0% 2%;

}

.why_heading {
    color: #003c66;
    padding: 1%;
    font-size: 16px;
    margin-left: 5%
}

.services {
    background: url("/images/midback.png");
    background-size: cover;
    width: 1000px;
    margin: auto;
    height: 234px;
}

.service_row {
    width: 100%;
    height: 27%;
}

.our_service {
    width: 33%;
    height: 100%;
    float: left;
}

.service_img {
    width: 20%;
    margin: 3%;
    float: left;
}

.service_info {
    float: left;
    width: 70%;
    text-align: center;
    font-size: 14px;
    line-height: 60px;
    color: #003c66;
}

.domain {
    width: 30%;
    font-size: 12px;
    float: left;
    color: #003c66;
}

.domain_info {
    float: left;
    width: 74%;
    margin-top: 1%;
}

.client {
    width: 70%;
    font-size: 12px;
    float: left;
    color: #003c66;
}

.client_name {
    font-weight: bold;
    text-align: right;
    margin-bottom: 4%;
}

.main3 {
    width: 100%;
    background: url(/images/footer.png);
}

.footer1 {
    width: 33%;
    margin: 3% 0%;
    float: left;
}

.quick_heading {
    font-weight: bold;
    color: brown;
    margin: 3%;
}

.quick_icon {
    background: url(/images/dot.png) no-repeat;
    width: 6px;
    height: 6px;
    float: left;
    margin: 5px 5%;
}

.quick_text {
    float: left;
    color: #003c66;
    font-size: 12px;
}

.quick_text1 {
    float: left;
    font-size: 12px;
    color: #003c66;
    text-align: right;
    padding-right: 5px;
    width: 95%;
}

.quick_heading1 {
    font-weight: bold;
    color: brown;
    width: 90%;
    margin: 3%;
    text-align: right;
}

.footer2 {
    margin-left: 1%;
    float: right;
    margin-bottom: 2.8%;
}

/* about us page */

.inner_main1 {
    width: 100%;
    background: url(/images/bg_innerpage.jpg) no-repeat;
}

.leftside {
    margin-top: 2%;
    width: 234px;
    padding: 1%;
    /* border: 1px solid red; */
    float: left;
}

.left_panel {
    width: 234px;
    height: 383px;
    background: url(/images/leftpanel.png);
    /* border: 1px solid red; */
}

.quick_quote {
    width: 100%;
    background: url(/images/leftbelow.png) no-repeat;
    margin-top: 8%;
    height: 323px;
    /* border: 1px solid red; */
}

.panel_heading {
    padding: 5% 8%;
    font-size: 18px;
    font-weight: bold;
    color: red;
    text-align: center;
}

.panel_option {
    font-size: 12px;
    font-weight: bold;
    color: #003c66;
    margin: 8% 5%;
    text-decoration: none;
}

.panel_option1 {
    font-size: 12px;
    font-weight: bold;
    color: #003c66;
    margin: 2% 5%;
}

.tbox {
    width: 86%;
    height: 22px;
    margin: 0% 5%;
}

.tarea {
    width: 86%;
    margin: 0% 5%;
    resize: none;
}

.rightside {
    width: 72%;
    padding: 1%;
    /* border: 1px solid red; */
    float: left;
}

.right_heading {
    color: #003c66;
}

.paragraph {
    font-size: 12px;
    line-height: 25px;
}

.border {
    width: 90%;
    border-bottom: 1px solid #003c66;
    margin: 2% auto;
}

/* portfolio page */

.port_row {
    width: 100%;
    padding: 2% 0%;
    /* border: 1px solid red; */
}

.port {
    width: 30%;
    margin-left: 2%;
    float: left;
    /* border: 1px solid black; */
}

.port_img {
    width: 99%;
    border: 1px solid gray;
}

.port_title {
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    line-height: 30px;
}

.port_visit {
    font-size: 14px;
    text-align: center;
    line-height: 20px;
}

/* career page */

.career {
    width: 100%;
    /* border: 1px solid red; */
    line-height: 30px;
}

.career_heading {
    font-weight: bold;
    /* border: 1px solid blue; */
}

.career_row {
    margin-left: 2%;
    /* border: 1px solid black; */
    font-size: smaller;
}

.career1 {
    float: left;
    width: 30%;
    /* border: 1px solid pink; */
}

.career1a {
    float: left;
}

.career1b {
    float: right;
    margin-right: 10%;
    text-align: right;
}

.career2 {
    float: left;
    /* border: 1px solid yellow; */
    width: 69%;
}

/* client_view page  */

.review {
    width: 100%;
    margin-top: 2%;
    /* border: 1px solid red; */
}

.review_form {
    width: 40%;
    margin-left: 5%;
    float: left;
    margin-top: 3%;
    /* border: 1px solid blue; */
}

.tbox_review {
    margin-bottom: 5%;
    width: 90%;
    height: 20px;
    color: gray;
}

.review_button {
    height: 35px;
    width: 88px;
    border-radius: 8px;
    background: url(/images/button.png);
    background-size: cover;
    margin-top: 5%;
}

.tbox_review1 {
    margin-bottom: 5%;
    margin-left: 5%;
    width: 70%;
    height: 20px;
    color: gray;
}

.filebox {
    color: grey;
    border: 1px solid grey;
    padding: 1%;
}

.service_image{
    width:45%;
    /* border: 1px solid red; */
    float: left;
}

.headtext{
    margin-top: 2%;
    float: left;
    width: 32%;
    font-size: 12px;
    color: #003c66;
    text-align: center;
}
.service_right{
    /* border: 1px solid blue; */
    width: 53%;
    float: left;
    margin-left: 1%;
}
.heading_service{
    color: #003c66;
    font-size: 16px;
}
.row1c1{
    float:left;
    margin-top: 14px;
    margin-right: 2%;
    /* border: 1px solid red; */
}
.row1c2{
    float:left;
    /* border: 1px solid red; */
}
.paragraph1{
    font-size: 12px;
    line-height: 20px;
    margin-left: 3%;
    margin-bottom: 6%;
}
.paragraph2{
    font-size: 11px;
    line-height: 23px;
    margin-left: 1%;
    margin-bottom: 4%;
}
.service_inner{
    width: 47%;
    /* border: 1px solid red; */
    float: left;
    margin:1% ;
}